:root {
  --color-text: #1d1c1a;
  --color-container: #f7f5f5;
  --color-bar: #232323;
  --color-shadow: #888888;
}

::selection {
  color: #fff;
  background: #5edd5f;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  background-image: url("/img/background.svg");
  background-attachment: fixed;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "HelvAbc123etica Neue", sans-serif;
}

a {
  color: #206e3a;
  transition: color 0.15s ease-in;
}

a:hover {
  color: #50c878;
}

/* Objects */
.flex-object {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icons {
  font-size: 10rem;
  color: var(--color-bar);
  transition: all 0.25s ease-out;
}

.icons:hover {
  transform: scale(1.07);
  color: #5edd5f;
  cursor: pointer;
}

/* Navigation */
.nav {
  background: var(--color-bar);
  width: 100%;
  color: #fff;
}

.nav h1 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  padding: 0.3rem;
}

.nav a {
  color: #fff;
  transition: color 0.15s ease-in;
}

.nav a:hover {
  color: #50c878;
}

@media screen and (max-width: 768px) {
  .nav h1 {
    font-size: 1.8rem;
  }
}

/* Header */
.header {
  margin-top: 10rem;
  text-align: center;
}

.header-container {
  background: var(--color-container);
  border-radius: 100%;
  padding: 7.5rem;
  box-shadow: 5px 10px var(--color-shadow);
  transition: all 0.25s ease-out;
}

.header-container:hover {
  transform: scale(1.025);
}

.header-container h1 {
  font-size: 4rem;
}

.header-container h2 {
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .header-container {
    padding: 4rem;
    width: 70%;
  }

  .header-container h1 {
    font-size: 3.5rem;
  }

  .header-container p {
    font-size: 2rem;
  }
}

/* Content */
.content {
  margin-top: 8rem;
  gap: 8rem;
}

.container {
  background: var(--color-container);
  border-radius: 30px;
  box-shadow: 5px 10px var(--color-shadow);
  padding: 3rem;
  gap: 1.5rem;
}

.container h1 {
  font-size: 3.5rem;
  text-align: center;
}

.container p {
  font-size: 1.8rem;
  width: 50ch;
  text-align: left;
  line-height: 1.3;
  font-weight: 500;
}

.text-container {
  gap: 0.5rem;
}

.text-container h1 {
  margin-bottom: 1.5rem;
}

.text-container p,
.text-container h2 {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .container {
    width: 75%;
    padding: 1rem;
  }

  .container h1 {
    font-size: 3rem;
  }

  .container p,
  .container h2 {
    width: 30ch;
    font-size: 1.6rem;
  }
}

/* Footer */
.footer {
  background: var(--color-bar);
  margin-top: 10rem;
  padding: 2rem;
}

.footer h1 {
  font-size: 1.5rem;
  color: #fff;
}

/* Form */
.form-container {
  background: var(--color-container);
  width: 35%;
  height: 60%;
  flex-direction: column;
  padding: 3rem;
}

.form-container form {
  padding: 0;
}

.form-container h1 {
  text-align: center;
  font-size: 4rem;
}

.form-container h2 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.form-container input,
.form-container textarea {
  font-size: 1.8rem;
  padding: 0.3rem;
}

.form-container textarea {
  width: 100%;
  resize: none;
}

.form-buttons {
  margin-top: 2rem;
  flex-direction: row;
  gap: 3.5rem;
}

.form-buttons button {
  background: #fff;
  border: 0;
  border-radius: 10px;
  box-shadow: 2.5px 5px var(--color-shadow);
  color: var(--color-text);
  padding: 1.2rem;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.25s;
}

.form-buttons button:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .form-container {
    text-align: center;
    width: 70%;
  }

  .form-container h1 {
    font-size: 3.2rem;
  }

  .form-container h2 {
    font-size: 2rem;
  }

  .form-container input {
    width: 45%;
  }

  .form-container textarea {
    width: 80%;
  }
}
